@using Microsoft.EntityFrameworkCore;


@{
    ViewData["Title"] = "Sepet";

}

@{
    string userName = Context.Request.Cookies["UserName"];
    string userEmail = Context.Request.Cookies["UserEmail"];
}

@{
    System.Globalization.CultureInfo turkish = new System.Globalization.CultureInfo("tr-TR");
    float totalAmount = Model.Sum(item => float.Parse(item.Product.Fiyat.Split(' ')[0].Replace(".", "")));
    float totalNumber = Model.Count();
}



@model List<ShoppingCart>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  <!-- Font Awesome -->
  <link
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    rel="stylesheet"
  />
  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
    rel="stylesheet"
  />
  <!-- MDB -->
  <link
    href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.3.1/mdb.min.css"
    rel="stylesheet"
  />
  
    <link href="~/css/chart.css" rel="stylesheet" />


</head>
<style>
  

</style>


<body>

<div class="main">

  <div class="chartPage row">
    <div  class="col-md-9 col-8">
      <div class="myChart">
                    <h4>Sepetim (@totalNumber ürün)</h4>

        @foreach (var product in Model)
        {
            <div class="product">
                <div class="container">
                    @*<input class="checkbox p-5" type="checkbox" value="" id="flexCheckDefault + @product.Id">*@
                    <img class="productImg" src="@product.Product.Images.First().ImageUrl">
                                <label class="productName text-muted">@product.Product.Marka @product.Product.Baslik</label>
@*                    <div class="counter">
                        <label class="counterBtn p-2" id="decrement_id + @product.Id">-</label>
                        <label id="counter">0</label>
                                    <label class="counterBtn p-2" id="increment_id + @product.Id">+</label>
                    </div>*@
                                <label class="price text-success">@product.Product.Fiyat</label>
                                <a href="@Url.Content("~/deleteChart/Produc=" + product.Product.Id + "&" + "user-email=" + @userEmail)"><i class="bi bi-trash trashIcon"></i></a>
                </div>
            </div>
        }
      </div>
    </div>


    <div class="col-md-3 col-4">
      <div class="acceptChart">
        <div class="row">
                        <a type="button" href="@Url.Content("~/confirmOrders/user-email=" + @userEmail)" class="btn btn-success p-2">Sepeti Onayla <i class="bi bi-arrow-right"></i></a>

          <div class="orderSummary row">
            <h4 class="col-12">Sepet Özeti</h4>
            <label class="col-6 text-muted">Toplam Tutar: </label>
            @*<label class="col-6 text-black">104.99$ </label>*@
                            <label class="col-6 text-black">@totalAmount.ToString("C", turkish)</label>

          </div>

                        <a type="button" href="@Url.Content("~/confirmOrders/user-email=" + @userEmail)" class="btn btn-success p-2">Sepeti Onayla  <i class="bi bi-arrow-right"></i></a>

        </div>

      </div>

    </div>

  </div>


</div>


@*<script>
  var counter = 0;
  var counterElement = document.getElementById('counter');
  var incrementButton = document.getElementById('increment_id');
  var decrementButton = document.getElementById('decrement_id');

  incrementButton.addEventListener('click', function() {
    counter++;
    counterElement.textContent = counter;
  });

  decrementButton.addEventListener('click', function() {
    if(counter !== 0){
      counter--;
      counterElement.textContent = counter;
    }

  });
</script>*@
</body>
</html>
